@import "variables";
@import "attributes/_grid.scss";

:host {
  display: inline-block;
  position: relative;
  height: $radio-button-height;
  width: 100%;
  border: $radio-button-border;
  background-color: $radio-button-background;
  cursor: pointer;

  & * {
    font-family: $radio-button-font-family;
  }

  & > au {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    & .option {
      display: flex;
      position: absolute;
      height: 100%;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-transform: capitalize;
      animation-duration: $radio-button-animation-duration;

      &:not(:last-of-type) {
        border-right: $radio-button-separator;
      }

      &[au~="selected"] {
        z-index: 1;
        background-color: $radio-button-toggled-background;
      }

      &:not([au~="selected"]) {
        z-index: 0;
        &:hover, &:focus {
          background-color: $radio-button-hover-background;
          box-shadow: $radio-button-box-shadow;
        }
      }
    }
  }
}
.pure-u-2-3,
.pure-u-1-3{
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}


.pure-u-2-3 {
  width: 66.6667%;
  *width: 66.6357%;
}
.pure-u-1-3
{
  width: 33.3333%;
  *width: 33.3023%;
}