$radio-button-font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$radio-button-border: 1px solid !default;
$radio-button-separator: 1px solid !default;
$radio-button-background: #ffffff !default;
$radio-button-toggled-background: #c0d82f !default;
$radio-button-hover-background: #d4f024 !default;

$radio-button-height: 42px !default;

$radio-button-animation-duration: 1s !default;

$radio-button-box-shadow: 2px 2px 6px rgba(#000000, .75) !default;